<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/public/images/logo.png" alt="Logo" width="24" height="24"
                class="d-inline-block align-text-top" style="margin-top: 2.2px;">
            <strong>Kevinian Library</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <form class="d-flex">
                <div class="dropdown">
                    <a href="#"
                        class="d-flex align-items-center text-white p-2 rounded text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown">
                        <i class="bi bi-person-circle me-1"></i> Sam Neale
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end text-small shadow"
                        aria-labelledby="dropdownUser1" data-popper-placement="bottom-end"
                        style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 42px);">
                        <li><a class="dropdown-item" href="/viewOnLoan"><i class="bi bi-book-half"></i> View Books on Loan</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-danger fw-bold" href="/signout">Sign out</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</nav>